<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chii.demo.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.chii.demo.pojo.Order">
    <constructor>
      <idArg column="o_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_desk" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="o_data" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="o_totalprice" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_flag" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    o_ID, o_user, o_desk, o_date, o_data, o_number, o_totalprice, o_flag
  </sql>
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
  </select>
  <select id="selectUser" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
    where o_user = #{oUser,jdbcType=VARCHAR}
    order by o_ID desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where o_ID = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `order`
    where o_ID = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chii.demo.pojo.Order">
    insert into `order` (o_ID, o_user, o_desk,
      o_date, o_data, o_number, o_totalprice, o_flag
      )
    values (#{oId,jdbcType=VARCHAR}, #{oUser,jdbcType=VARCHAR}, #{oDesk,jdbcType=VARCHAR}, 
      #{oDate,jdbcType=TIMESTAMP}, #{oData,jdbcType=VARCHAR}, #{oNumber,jdbcType=INTEGER}, 
      #{oTotalprice,jdbcType=VARCHAR}, #{oFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chii.demo.pojo.Order">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        o_ID,
      </if>
      <if test="oUser != null">
        o_user,
      </if>
      <if test="oDesk != null">
        o_desk,
      </if>
      <if test="oDate != null">
        o_date,
      </if>
      <if test="oData != null">
        o_data,
      </if>
      <if test="oNumber != null">
        o_number,
      </if>
      <if test="oTotalprice != null">
        o_totalprice,
      </if>
      <if test="oFlag != null">
        o_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="oUser != null">
        #{oUser,jdbcType=VARCHAR},
      </if>
      <if test="oDesk != null">
        #{oDesk,jdbcType=VARCHAR},
      </if>
      <if test="oDate != null">
        #{oDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oData != null">
        #{oData,jdbcType=VARCHAR},
      </if>
      <if test="oNumber != null">
        #{oNumber,jdbcType=INTEGER},
      </if>
      <if test="oTotalprice != null">
        #{oTotalprice,jdbcType=VARCHAR},
      </if>
      <if test="oFlag != null">
        #{oFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chii.demo.pojo.Order">
    update `order`
    <set>
      <if test="oUser != null">
        o_user = #{oUser,jdbcType=VARCHAR},
      </if>
      <if test="oDesk != null">
        o_desk = #{oDesk,jdbcType=VARCHAR},
      </if>
      <if test="oDate != null">
        o_date = #{oDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oData != null">
        o_data = #{oData,jdbcType=VARCHAR},
      </if>
      <if test="oNumber != null">
        o_number = #{oNumber,jdbcType=INTEGER},
      </if>
      <if test="oTotalprice != null">
        o_totalprice = #{oTotalprice,jdbcType=VARCHAR},
      </if>
      <if test="oFlag != null">
        o_flag = #{oFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where o_ID = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chii.demo.pojo.Order">
    update `order`
    set o_user = #{oUser,jdbcType=VARCHAR},
      o_desk = #{oDesk,jdbcType=VARCHAR},
      o_date = #{oDate,jdbcType=TIMESTAMP},
      o_data = #{oData,jdbcType=VARCHAR},
      o_number = #{oNumber,jdbcType=INTEGER},
      o_totalprice = #{oTotalprice,jdbcType=VARCHAR},
      o_flag = #{oFlag,jdbcType=VARCHAR}
    where o_ID = #{oId,jdbcType=VARCHAR}
  </update>

  
</mapper>