<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="nav::Tnav('员工管理')">
    <meta charset="UTF-8">
</head>
<style>
    .div_body{
        padding: 20px;
        background: #ffffff;
		height: 450px;
		border: solid #d2cccc 1px;
    }
	td{
		height: 33px;
	}
	a:hover {
	color: #039aff;
	text-decoration:none;
	}
</style>
<body style="background: #f0f2f5; margin: 0px;">
<!--<div  th:include="nav::comNav"></div>-->
<div style="position: relative; top: 0px; height:45px; background: #ffffff;">
	<div style="padding: 10px; float:right;">
		<span id="Change">
		<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
		<a th:text="*{UserName}"></a>
		</span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a target="_parent" href="/dcxt_Sam/LogOut" id="LogOut">注销</a>
	</div>
</div>
<div style="margin:20px;">

<!--    <div  style="float:left;" th:include="nav::UserNav"></div>-->
	<div style="margin-bottom:20px; border-left: #039aff solid 5px;" id="tree_div">
		<a style="margin-left: 5px;" id="Home">
			首页
		</a>
		>
		<a>
			员工管理
		</a>
	</div>
    <div  class="div_body" id="AddInfo" hidden>
		
        <!-- <form name="" action="/AddEmpInfo" method="post"> -->
        <form name="" action="/dcxt_Sam/AddEmpInfo" method="post">
            <div>
                <label style="color: red;">*</label>工号:  <input name="uId" /><br><br>
                <label style="color: red;">*</label>姓名:  <input name="uName"/><br><br>
                <label style="color: red;">*</label>密码:  <input name="uPassword" /><br><br>
                <label style="color: red;">*</label>年龄:  <input name="uAge" /><br><br>
                <label style="color: red;">*</label>性别:  <select name="uSex" >
                <option value="男">男</option>
                <option value="女">女</option>
            </select><br><br>
<!--                <input name="uSex" /><br><br>-->
                <input type="submit" name="Add" value="添加"/>
            </div>
        </form>
    </div>
    <div id="divInfo" class="div_body"  hidden>
        <div>
            <!-- <form name="" action="/SearchEmpInfo" method="post"> -->
            <form name="" action="/dcxt_Sam/SearchEmpInfo" method="post">
                工号: <input name="uId" style="margin-right: 20px;" />
                姓名:  <input name="uName"  style="margin-right: 20px;"/>
                <input type="submit" name="Search" value="查找"/>
            </form>
        </div>
        <div style="margin-top: 25px;">
            <table id="table_page" border="1" style="text-align: center; width: 100%; border-collapse:collapse;">
                <tr style="font-weight: bold; color: #666666; background: #f9fafc;">
                    <td>工号</td>
                    <td>姓名</td>
                    <td>密码</td>
                    <td>年龄</td>
                    <td>性别</td>
                    <td>操作</td>
                    <!--                <td>删除</td>-->
                </tr>
                <tr th:each="user,count:${userList}" th:if="${!user.getuId().equals('1001')}">
                    <td class="uId" th:text="${user.getuId()}" ></td>
                    <td class="uName" th:text="${user.getuName()}"></td>
                    <td class="uPassword" th:text="${user.getuPassword()}"></td>
                    <td class="uAge" th:text="${user.getuAge()}"></td>
                    <td class="uSex" th:text="${user.getuSex()}"></td>
                    <td id="a">
                        <a href="#" id="edit_btn" class="modify" >修改</a>
                        <a href="#" id="del_btn" class="remove">删除</a>
                    </td>
                </tr>
            </table>
            <label id="btn0"></label>
            <label id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"></label>
            <label> 8条 </label> &nbsp;
            <label id="sum"></label>&nbsp;
            <a  href="#" id="btn_first">首页</a>
            <a  href="#" id="btn_pre">上一页</a>
            <a  href="#" id="btn_next">下一页</a>
            <a  href="#" id="btn_last">尾页</a>&nbsp;
            <label>转到&nbsp;</label>
            <input id="changePage" type="text" size="1" maxlength="4"/>
            <label>页&nbsp;</label>
            <a  href="#" id="btn_turn">跳转</a>
        </div>

        <div style="margin-top: 10px;">
            <button id="Export" onclick="btn_export()">导出Excel</button>
            <br />
        </div>
</div>
    <div id="T_download" hidden>
        <table id="table_download" >
            <tr>
                <td>工号</td>
                <td>姓名</td>
                <td>密码</td>
                <td>年龄</td>
                <td>性别</td>
            </tr>
            <tr th:each="user,count:${userList}" th:if="${!user.getuId().equals('1001')}">
                <td class="uId" th:text="${user.getuId()}" ></td>
                <td class="uName" th:text="${user.getuName()}"></td>
                <td class="uPassword" th:text="${user.getuPassword()}"></td>
                <td class="uAge" th:text="${user.getuAge()}"></td>
                <td class="uSex" th:text="${user.getuSex()}"></td>
            </tr>
        </table>
    </div>

</div >
<!--<div style="width: 100%" th:include="nav::comFooter"></div>-->
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="Paging.js"></script>
<script src="table_export_js/excel.js"></script>
<script src="table_export_js/xlsx.core.min.js"></script>
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="Url.js"></script>
<script  type="text/javascript"  th:inline="javascript" >
    var getInfo = [[${getInfo}]];
    var div_2=document.getElementById("divInfo");
    var div_1=document.getElementById("AddInfo");
    console.log(getInfo);
    //辨别显示哪个div
    if (getInfo == "1"){
        div_1.removeAttribute("hidden");
		addTree(getInfo);
	}
    else if (getInfo == "2"){
        div_2.removeAttribute("hidden");
		addTree(getInfo);
	}

    var flag = [[${flag}]];
    console.log(flag);
    if (flag == "1")
        alert("添加成功。");
    else if (flag == "2")
        alert("添加失败，此工号已存在。")
    else if(flag == "0")
        alert("添加失败，必填项不能为空。");

    //是否显示店员管理
    var uID = [[${UserId}]];
    console.log("uID is "+uID);
    if (uID === "1001"){
        $("#EmpInfo").css("display","block");
    }

    $("#Change").click(function () {
        window.location.href=url+"/ChangePwd";
    });

    function btn_export() {     //导出
        var table = document.querySelector("#T_download");
        var sheet = XLSX.utils.table_to_sheet(table); //将一个table对象转换成一个sheet对象
        openDownloadDialog(sheet2blob(sheet), 'excel.xlsx');
    }

	
	function addTree(getInfo){
		var html = $("#tree_div").html();
		$("#tree_div").html(html+">");
		a = document.createElement("a");
        a.setAttribute("id","EmpInfo_"+getInfo);
		if(getInfo=="1"){
			a.innerText = "新增店员";
		}else if(getInfo=="2"){
			a.innerText = "查找店员";
		}
        document.getElementById("tree_div").appendChild(a);
	}

    //按修改
    $(".modify").click(function () {
        console.log("12345");
        $(this).parent().siblings("td").each(function () {//找同类元素td
            var is_text = $(this).find("input:text");//判断单元格下是否含有文本框
            var is_select = $(this).find("option:selected");//判断单元格下是否含有下拉框
            var is_id = $(this).attr("class");
            if (!is_text.length && is_id!="uId" && !is_select.length){//不是文本框且不是uId且不是下拉框
                if(is_id!="uSex"){
                    $(this).html("<input size='13' type='text' value=' "+$(this).text()+" ' />");
                    }
                else if(is_id=="uSex"){
                    console.log("this.text is "+$(this).text());
                    if($(this).text()=='男'){    //性别为男时下拉框默认男
                        $(this).html("<select name='uSex' >\n" +
                            "<option value='男' selected='selected'>男</option>\n" +
                            "<option value='女'>女</option>\n" +
                            "</select>");
                    }
                    else if($(this).text()=='女'){  //性别为女时下拉框默认女
                        $(this).html("<select name='uSex' >\n" +
                            "<option value='男' >男</option>\n" +
                            "<option value='女' selected='selected'>女</option>\n" +
                            "</select>");
                    }
                }
            }
            else{
                if(is_id!="uSex"){
                    $(this).html(is_text.val());
                    var Info = is_text.val();
                }else if (is_id=="uSex"){
                    var selects = $(this).find("option:selected").text()
                    $(this).html(selects);
                    console.log("selects is "+ selects);
                }
                console.log(is_text.val());
            }
        })
        var id = $(this).parent().parent().children("td.uId").text();//获取修改后的数据
        var name = $(this).parent().parent().children("td.uName").text();
        var password = $(this).parent().parent().children("td.uPassword").text();
        var age = $(this).parent().parent().children("td.uAge").text();
        var sex = $(this).parent().parent().children("td.uSex").text();

        $.ajax({
            type:'post',
            url:url+'/EditEmpInfo',
            Type:"json",
            //传数据到controller的EditEmpInfo上
            data:{"id":id,"name":name,"password":password,"age":age,"sex":sex}
        });
    });
//按删除
    $(".remove").click(function () {
        if (window.confirm("您确定要删除数据吗？"))
        {
            var id = $(this).parent().parent().children("td.uId").text();
            $(this).parent().parent().remove();
            $.ajax({
                type:'post',
                url:url+'/DelEmpInfo',
                Type:"json",
                //传数据到controller的DelEmpInfo上
                data:{"id":id}
            });
        }
    });

</script>
</html>