<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户表格</title>
</head>
<body>
<form name=""   method="get">
    <table border="1">
        <tr>
            <td>id</td>
            <td>名字</td>
            <td>年龄</td>
            <td>性别</td>
        </tr>
        <tr>
            <td>
                <input th:value="*{user.get(0).uId}" type="text" name="uId" />
            </td>
            <td>
                <input th:value="*{user.get(0).uName}" type="text" name="uName" />
            </td>
            <td>
                <input th:value="*{user.get(0).uAge}" type="text" name="uAge" />
            </td>
            <td>
                <input th:value="*{user.get(0).uSex}" type="text" name="uSex" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>