<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="nav::Tnav('类别管理')">
    <meta charset="UTF-8">
</head>
<style>
    .div_body{
        padding: 20px;
        background: #ffffff;
		height: 450px;
		border: solid #d2cccc 1px;
    }
	td{
		height: 33px;
	}
	a:hover {
	color: #039aff;
	text-decoration:none;
	}
</style>
<body style="background: #f0f2f5; margin: 0px;">
<!-- <div  th:include="nav::comNav"></div> -->
<div style="position: relative; top: 0px; height:45px; background: #ffffff;">
	<div style="padding: 10px; float:right;">
		<span id="Change">
		<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
		<a th:text="*{UserName}"></a>
		</span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a target="_parent" href="/LogOut" id="LogOut">注销</a>
	</div>
</div>
<div style="margin:20px;">
    <!-- <div  style="float:left;" th:include="nav::KindNav"></div> -->
	<div style="margin-bottom:20px; border-left: #039aff solid 5px;" id="tree_div">
		<a style="margin-left: 5px;" id="Home">
			首页
		</a>
		>
		<a>
			菜单管理
		</a>
	</div>
    <div class="div_body" id="AddKind" hidden>
        <form name="" action="/AddKindInfo" method="post">
            <div>
                <label style="color: red;">*</label>类别号:  <input name="kId" /><br><br>
                <label style="color: red;">*</label>类名称:  <input name="kName"/><br><br>
                <label style="color: red;">*</label>主用料:  <input name="kMain" /><br><br>
                <input type="submit" name="Add" value="添加"/>
            </div>
        </form>
    </div>

    <div class="div_body" id="divInfo"  hidden>
        <div>
            <form name="" action="/SearchKindInfo" method="post">
                类别号: <input name="kId" style="margin-right: 20px;"/>
                类名称: <input name="kName" style="margin-right: 20px;"/>
                主用料: <input name="kMain" style="margin-right: 20px;"/>
                <input type="submit" name="Search" value="查找"/>
            </form>
        </div>
        <div style="margin-top: 25px;">
            <table  id="table_page" border="1" style="text-align: center; width: 100%; border-collapse:collapse;">
                <tr style="font-weight: bold; color: #666666; background: #f9fafc;">
                    <td>类别号</td>
                    <td>类名称</td>
                    <td>主用料</td>
                    <td>操作</td>
                    <!--                <td>删除</td>-->
                </tr>
                <tr th:each="kind,count:${kindList}" >
                    <td class="kId" th:text="${kind.getkId()}" ></td>
                    <td class="kName" th:text="${kind.getkName()}"></td>
                    <td class="kMain" th:text="${kind.getkMain()}"></td>
                    <td id="a">
                        <a href="#" id="edit_btn" class="modify" >修改</a>
                        <a href="#" id="del_btn" class="remove">删除</a>
                    </td>
                </tr>
            </table>
            <label id="btn0"></label>
            <label id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"></label>
            <label> 8条 </label> &nbsp;
            <label id="sum"></label>&nbsp;
            <a  href="#" id="btn_first">首页</a>
            <a  href="#" id="btn_pre">上一页</a>
            <a  href="#" id="btn_next">下一页</a>
            <a  href="#" id="btn_last">尾页</a>&nbsp;
            <label>转到&nbsp;</label>
            <input id="changePage" type="text" size="1" maxlength="4"/>
            <label>页&nbsp;</label>
            <a  href="#" id="btn_turn">跳转</a>
        </div>
        <div style="margin-top: 10px;">
            <button id="Export" onclick="btn_export()">导出Excle</button>
            <br />
        </div>
    </div>
    <div>
        <table  id="T_download" hidden>
            <tr>
                <td>类别号</td>
                <td>类名称</td>
                <td>主用料</td>
            </tr>
            <tr th:each="kind,count:${kindList}" >
                <td class="kId" th:text="${kind.getkId()}" ></td>
                <td class="kName" th:text="${kind.getkName()}"></td>
                <td class="kMain" th:text="${kind.getkMain()}"></td>
            </tr>
        </table>
    </div>
</div>
<!--<div style="width: 100%" th:include="nav::comFooter"></div>-->
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/table_export_js/excel.js"></script>
<script src="/table_export_js/xlsx.core.min.js"></script>
<script type="text/javascript" src="Paging.js"></script>
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<script  type="text/javascript"  th:inline="javascript" >
    var getInfo = [[${getInfo}]];
    var div_1=document.getElementById("AddKind");
    var div_2=document.getElementById("divInfo");
    console.log(getInfo);
    //辨别显示哪个div
    if (getInfo == "1"){
        div_1.removeAttribute("hidden");
		addTree(getInfo);
	}
    else if (getInfo == "2"){
        div_2.removeAttribute("hidden");
		addTree(getInfo);
	}
//添加时，检测是否为空
    var flag = [[${flag}]];
    console.log(flag);
    if (flag == "1")
        alert("添加成功。");
    else if(flag == "0")
        alert("添加失败，必填项不能为空。");
    else if(flag == "2")
        alert("添加失败，此类别号、类名称已存在。");

    //是否显示店员管理
    var uID = [[${UserId}]];
    console.log("uID is "+uID);
    if (uID === "1001"){
        $("#EmpInfo").css("display","block");
    }

    $("#Change").click(function () {
        window.location.href="/ChangePwd";
    });

    function btn_export() {     //导出
        var table = document.querySelector("#T_download");
        var sheet = XLSX.utils.table_to_sheet(table); //将一个table对象转换成一个sheet对象
        openDownloadDialog(sheet2blob(sheet), 'excel.xlsx');
    }
	
	function addTree(getInfo){
		var html = $("#tree_div").html();
		$("#tree_div").html(html+">");
		a = document.createElement("a");
        a.setAttribute("id","KindInfo_"+getInfo);
		if(getInfo=="1"){
			a.innerText = "新增类别";
		}else if(getInfo=="2"){
			a.innerText = "查找类别";
		}
        document.getElementById("tree_div").appendChild(a);
	}


    //按修改
    $(".modify").click(function () {
        console.log("12345");
        $(this).parent().siblings("td").each(function () {//找同类元素td
            var is_text = $(this).find("input:text");//判断单元格下是否含有文本框
            var is_id = $(this).attr("class");
            if (!is_text.length&&is_id!="kId"){//不是文本框且不是kId
                $(this).html("<input size='13' type='text' value=' "+$(this).text()+" ' />");
            }
            else{
                $(this).html(is_text.val());
                var Info = is_text.val();
                console.log(is_text.val());
            }
        })
        var id = $(this).parent().parent().children("td.kId").text();//获取修改后的数据
        var name = $(this).parent().parent().children("td.kName").text();
        var main = $(this).parent().parent().children("td.kMain").text();

        $.ajax({
            type:'post',
            url:'/EditKindInfo',
            Type:"json",
            //传数据到controller的EditKindInfo上
            data:{"id":id,"name":name,"main":main}
        });
    });

    //按删除
    $(".remove").click(function () {
        if (window.confirm("您确定要删除数据吗？"))
        {
            var id = $(this).parent().parent().children("td.kId").text();
            $(this).parent().parent().remove();
            $.ajax({
                type:'post',
                url:'/DelKindInfo',
                Type:"json",
                //传数据到controller的DelEmpInfo上
                data:{"id":id}
            });
        }
    });

</script>


</html>