<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>系统测试页面</title>
</head>
<style>
    .LoginDiv{
        width: 40%;
        margin: 15% 0% 0% 30%;
        background: #d0cece;
        padding: 70px 0px;
        /*border: solid 1px #e7e7e7;*/
        border-style: groove;
    }
</style>
<body style="background: #f8f8f8;">
<div class="LoginDiv">
    <form name="" action="/UserLogin" method="post">
        <table align="center" style="height: 100px;">
            <tr>
                <td>
                    账号：<input type="text" name="uId"/>
                </td>
            </tr>
            <tr>
                <td>
                    密码：<input type="password" name="uPassword"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="tijiao" value="登录"/>
                </td>
            </tr>
        </table>

    </form>
</div>

</body>
<script th:inline="javascript" >
    var msg = [[${message}]];
    console.log(msg);
    if (msg === "1")
        alert("账号或密码输入错误");

</script>
</html>