<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>系统测试页面</title>
</head>
<body>
<form name="" action="/Login" method="post">
    <table align="center">
        <tr>
            <td>
                id<input type="text" name="uId"/>
            </td>
            <td>
                密码<input type="password" name="uPassword"/>
            </td>
            <td>
                <input type="submit" name="tijiao" value="登录"/>
            </td>
        </tr>
    </table>

</form>
</body>
<script th:inline="javascript" >
    var mes = [[${message}]];
    console.log(mes);
    if (mes == "1")
        alert("账号或密码输入错误");
</script>
</html>