<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
</head>
<style>
    .top{display:block;position:fixed;width:100%;height:6%; z-index:2;top:0px;color: #000000;background:beige;}
    /*font-size:15px;border-top:1px solid #e2e2e2;*/
    .top h2{font-size: 15px;text-align: center;margin-top: 10px;}
    .top h1{font-size: 15px;margin-top: 10px;text-align: left;}


    .Order{border-style: groove;margin: 5px;overflow: hidden;background: #fff;}
    .Order .food {
        /*width: 100%;*/
        height: 30px;
        /*line-height: 40px;*/
        border-bottom: 1px dashed #e7eaeb;
        font-size: 14px;
        margin-top: 7px;
    }
    .Car{
        list-style: none; padding: 0px; margin: 10px 10px 7px 5px;
    }
    .Car .desk{height: 30px;border-bottom: 1px solid #e7eaeb;}
    .Car .OrderTime{float: right;margin-right: 5px;font-size: 12px;color: #928e8e;}
    .Car .Sum{height: 30px;margin-top: 10px;}
    .accountName{min-width: 60%;}
</style>
<body style="background-color: beige;">
<div id="Order" style="width: 100%;">
    <div id="top" class="top">
        <div id="left" style="float: left;width:60%;">
            <h2>点餐</h2>
        </div>
        <div id="right" style="float: right;width:40%;">
            <h1>订单</h1>
        </div>
    </div>
    <div id="Orders" class="Orders" style="margin-top: 11%;">
<!--        <div class="Order">-->
<!--            <ul class="Car">-->
<!--                <li class="desk">-->
<!--                    <div style="float: left;">-->
<!--                        <span>桌号：1号桌</span>-->
<!--                    </div>-->
<!--                    <div class="OrderTime" >-->
<!--                        <span>2019-12-14 17:07</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="food">-->
<!--                    <div style="float: left; width: 55%">-->
<!--                        <span class="accountName">梅菜肉饼</span>-->
<!--                    </div>-->
<!--                    <div style="float: left;">-->
<!--                        <span>×1</span>-->
<!--                    </div>-->
<!--                    <div style="float: right;">-->
<!--                        <span>￥</span>-->
<!--                        <span class="accountPrice">10</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="food">-->
<!--                    <div style="float: left; width: 55%">-->
<!--                        <span class="accountName">梅菜肉饼</span>-->
<!--                    </div>-->
<!--                    <div style="float: left;">-->
<!--                        <span>×1</span>-->
<!--                    </div>-->
<!--                    <div style="float: right;">-->
<!--                        <span>￥</span>-->
<!--                        <span class="accountPrice">10</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="Sum">-->
<!--                    <div style="float: left">-->
<!--                        <span>共2份</span>-->
<!--                    </div>-->
<!--                    <div style="float: right;margin-right: -5px">-->
<!--                        <span>共计20元</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>
</body>
<script src="jquery-3.3.1.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css" />
<script type="text/javascript"  th:inline="javascript">
    console.log("123312312")
    var orderList = [[${orderList}]];
    for (var i=0;i<orderList.length;i++){
        TheOrder(i);
        var desk = orderList[i].oDesk;
        var date = orderList[i].oDate;
        var data = orderList[i].oData;
        var DeskDate = [i,date,desk];
        var allPrice = 0;
        var allNum = 0;
        TheDate(DeskDate);
        console.log("data is "+data);
        var str = data.split('-');
        for (var j=0;j<(str.length-2)/3;j++){
            var name = str[j*3+1];
            var num = parseInt(str[j*3+2]);
            var price = parseFloat(str[j*3+3]);
            var ThisData = [i,j,name,num,price];
            console.log("name :"+name+" num :"+num+"price :"+price);
            TheData(ThisData)
            allPrice = allPrice+price;
            allNum = allNum+num;
            console.log("allprice is "+allPrice+" allnum is "+allNum);
        }
        var ThisPrice=[i,allNum,allPrice,data[0]];
        ThePrice(ThisPrice);
    }
    function TheOrder(i) {
        var id ="Order_"+i;
        var Car_id = "Car_"+i;
        var div = document.createElement("div");
        div.setAttribute("class","Order");
        div.setAttribute("id",id);
        document.getElementById("Orders").appendChild(div);
        var ul = document.createElement("ul");
        ul.setAttribute("class","Car");
        ul.setAttribute("id",Car_id);
        document.getElementById(id).appendChild(ul);
    }
    function TheDate(Data) {
        var Car_id = "Car_"+Data[0];
        var desk_id = "desk_"+Data[0];
        var div1_id = "desk_div1_"+Data[0];
        var div2_id = "desk_div2_"+Data[0];
        var li = document.createElement("li");
        li.setAttribute("class","desk");
        li.setAttribute("id",desk_id);
        document.getElementById(Car_id).appendChild(li);
        var div1 = document.createElement("div");
        div1.setAttribute("style","float: left;");
        div1.setAttribute("id",div1_id);
        document.getElementById(desk_id).appendChild(div1);
        var div2 = document.createElement("div");
        div2.setAttribute("class","OrderTime");
        div2.setAttribute("id",div2_id);
        document.getElementById(desk_id).appendChild(div2);
        var span1 = document.createElement("span");
        span1.innerText = "桌号："+Data[2];
        document.getElementById(div1_id).appendChild(span1);
        var span2 = document.createElement("span");
        var date = ChangeDate(Data[1]);
        span2.innerText = date;
        document.getElementById(div2_id).appendChild(span2);
    }

    function ChangeDate(Data){
        console.log("Date is "+Data);
        var d = new Date(Data);
        var times=getNow(d.getFullYear()) + '-' + getNow((d.getMonth() + 1)) + '-' + getNow(d.getDate()) + ' ' + getNow(d.getHours()) + ':' + getNow(d.getMinutes());
        return times;
    }

    function getNow(s) {
        return s < 10 ? '0' + s: s;
    }

    function TheData(Data) {
        var food_id = "food_"+Data[0]+"_"+Data[1];
        var Car_id = "Car_"+Data[0];
        var div1_id = "food_div1_"+Data[0]+"_"+Data[1];
        var div2_id = "food_div2_"+Data[0]+"_"+Data[1];
        var div3_id = "food_div3_"+Data[0]+"_"+Data[1];
        var li = document.createElement("li");
        li.setAttribute("class","food");
        li.setAttribute("id",food_id);
        document.getElementById(Car_id).appendChild(li);
        var div1 = document.createElement("div");
        div1.setAttribute("style","float: left;width:55%;");
        div1.setAttribute("id",div1_id);
        document.getElementById(food_id).appendChild(div1);
        var div2 = document.createElement("div");
        div2.setAttribute("style","float: left;");
        div2.setAttribute("id",div2_id);
        document.getElementById(food_id).appendChild(div2);
        var div3 = document.createElement("div");
        div3.setAttribute("style","float: right;");
        div3.setAttribute("id",div3_id);
        document.getElementById(food_id).appendChild(div3);
        var span1 = document.createElement("span");
        span1.setAttribute("class","accountName");
        span1.innerText = Data[2];
        document.getElementById(div1_id).appendChild(span1);
        var span2 = document.createElement("span");
        span2.innerText = "x"+Data[3];
        document.getElementById(div2_id).appendChild(span2);
        var span3 = document.createElement("span");
        span3.setAttribute("class","accountPrice");
        span3.innerText = "￥"+Data[4];
        document.getElementById(div3_id).appendChild(span3);

    }
    function ThePrice(Data) {

        var Car_id = "Car_"+Data[0];
        var li_id = "Sum_"+Data[0];
        var div1_id = "Sum_div1_"+Data[0];
        var div2_id = "SUm_div2_"+Data[0];
        var f = "外带";
        if (parseInt(Data[3])){
            f = "堂食";
        }
        var li = document.createElement("li");
        li.setAttribute("class","Sum");
        li.setAttribute("id",li_id);
        document.getElementById(Car_id).appendChild(li);
        var div1 = document.createElement("div");
        div1.setAttribute("style","float: left;");
        div1.setAttribute("id",div1_id);
        document.getElementById(li_id).appendChild(div1);
        var div2 = document.createElement("div");
        div2.setAttribute("style","float: right;margin-right: -5px;");
        div2.setAttribute("id",div2_id);
        document.getElementById(li_id).appendChild(div2);
        var span1 = document.createElement("span");
        span1.innerText = f+"共"+Data[1]+"份";
        document.getElementById(div1_id).appendChild(span1);
        var span2 = document.createElement("span");
        span2.innerText= "共计"+Data[2]+"元";
        document.getElementById(div2_id).appendChild(span2);
    }

    $("#top>#left").click(function () {//点击点餐
        window.location.href="/XiaDan";
    });
    $("#top>#right").click(function () {//点击订单
        // window.location.href="/Order";
    });
</script>
</html>