<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="nav::Tnav('主页')">
    <meta charset="UTF-8">
</head>
<style>
    .div_body{
        padding: 20px;
        background: #ffffff;
		height: 450px;
		border: solid #d2cccc 1px;
    }
	a:hover {
	color: #039aff;
	text-decoration:none;
	}
</style>
<body style="background: #f0f2f5; margin: 0px;">
<!-- <div th:include="nav::comNav"></div>-->
<div style="position: relative; top: 0px; height:45px; background: #ffffff;">
	<div style="padding: 10px; float:right;">
		<span id="Change">
		<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
		<a th:text="*{UserName}"></a>
		</span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a target="_parent" href="/dcxt_Sam/LogOut" id="LogOut">注销</a>
	</div>
</div>
<div style="margin:20px;">
	<div style="margin-bottom:20px; border-left: #039aff solid 5px;" id="tree_div">
		<a style="margin-left: 5px;" id="Home">
			首页
		</a>
	</div>
	<div class="div_body">
       <label type="text" name="welcome" >welcome </label>
     <label th:text="*{UserName}" type="text"></label> 
    <label id="welcome">login this System</label>
	
	</div>
</div>
<!--<div th:include="nav::comFooter"></div>-->
</body>
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="Url.js"></script>
<!-- <link rel="stylesheet" th:href="${'/font-awesome-4.7.0/css/font-awesome.min.css'}" href="/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<!-- <link rel="stylesheet" href="139.199.11.57:8080/www/server/tomcat/webapps/dcxt_Sam/WEB-INF/classes/static/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<script type="text/javascript"  th:inline="javascript">
    //是否显示店员管理
    var uID = [[${UserId}]];
    console.log("uID is "+uID);
    if (uID === "1001"){
        $("#EmpInfo").css("display","block");
    }

    $("#Change").click(function () {
        window.location.href=url+"/ChangePwd";
    });
</script>
</html>